:root {
    --color-bg: #c23866;
    --color-contrast: #fff;
}

.App {
    margin: 860px;
    max-width: 40px auto;
}

button {
    background: none;
    border: 2px solid var(--color-contrast);
    padding: 6px 12px;
    border-radius: 4px;
    color: var(--color-contrast);
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: var(--color-bg);
    color: var(--color-contrast);
}
